<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Panel Vestex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" (click)="onSelect('Home')">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('About')">About</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Service')">Service</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Academy')">Academy</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Directory')">Directory</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('News')">News</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Contact')">Contact</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Products')">Products</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Statistics')">Statistics</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Funtejer')">Funtejer</a>
        <a class="nav-item nav-link" href="#" (click)="onSelect('Menu')">Menu</a>      
        <a class="nav-item nav-link" href="#" (click)="onSelect('Footer')">Footer</a>      
        <!-- <a class="nav-item nav-link" href="#" (click)="onSelect('vistaHome')">Vista Home</a> -->
      </div>
    </div>
  </nav>